asgiref
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
Django
django-rest-swagger
djangorestframework
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
mysqlclient
openapi-codec
packaging
Pillow
pycparser
PyJWT
pytz
PyYAML
requests
simplejson
sqlparse
uritemplate
urllib3
dotenv