<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Polityka Prywatności Aplikacji MojaKlima:</h1>

<ol>
    <li><strong>Definicja danych osobowych:</strong> Dane osobowe to informacje umożliwiające identyfikację osoby fizycznej.</li>

    <li><strong>Definicja przetwarzania danych:</strong> Przetwarzanie oznacza zestaw operacji wykonywanych na danych osobowych, takich jak zbieranie, przechowywanie, adaptacja, modyfikacja, przeglądanie, udostępnianie, czy usuwanie.</li>

    <li><strong>Administrator danych:</strong> Administratorem Państwa danych osobowych jest firma MojaKlima, Kępska 2b, 45-129 Opole. W przypadku pytań lub wątpliwości dotyczących przetwarzania danych osobowych, prosimy o kontakt pod adresem e-mail: <a href="mailto:Biuro@twojaklima.pl">Biuro@twojaklima.pl</a></li>

    <li><strong>Cel przetwarzania:</strong> Dane przetwarzane są wyłącznie w celu zapewnienia funkcjonalności aplikacji MojaKlima. Gromadzimy tylko te dane, które są niezbędne do właściwego funkcjonowania aplikacji.</li>

    <li><strong>Podstawy prawne przetwarzania:</strong>
        <ul>
            <li>Przetwarzanie dla celów statystycznych oparte jest na prawnie uzasadnionym interesie administratora.</li>
            <li>Przetwarzanie danych koniecznych do realizacji umowy lub w przypadku wyrażonej zgody.</li>
            <li>W pewnych sytuacjach przepisy prawa wymagają przetwarzania danych, np. dla celów podatkowych.</li>
            <li>Okres przetwarzania zależy od podstawy prawnej: do momentu wycofania zgody, ustania interesu lub zgodnie z wymogami prawnymi.</li>
        </ul>
    </li>

    <li><strong>Dobrowolność podania danych:</strong> Chociaż podanie danych jest dobrowolne, jest to niezbędne do pełnego korzystania z aplikacji MojaKlima.</li>

    <li><strong>Okres przechowywania danych:</strong> Dane są przechowywane w zależności od podstawy prawnej ich przetwarzania, maksymalnie jednak do 10 lat.</li>

    <li><strong>Prawa Użytkownika:</strong> Użytkownicy mają prawo do:
        <ul>
            <li>dostępu do swoich danych,</li>
            <li>ich poprawy,</li>
            <li>usunięcia,</li>
            <li>ograniczenia przetwarzania,</li>
            <li>wniesienia sprzeciwu,</li>
            <li>przenoszenia danych.</li>
        </ul>
    </li>

    <li><strong>Kontakt w sprawie danych:</strong> W przypadku chęci skorzystania z powyższych praw, prosimy o kontakt pod adresem <a href="mailto:Biuro@twojaklima.pl">Biuro@twojaklima.pl</a></li>

    <li><strong>Udostępnianie danych:</strong> Dane mogą być udostępniane tylko innym podmiotom w sytuacjach określonych przez prawo. Wszystkie podmioty trzecie są zobowiązane do zapewnienia odpowiedniej ochrony danych osobowych.</li>

    <li><strong>Możliwość usunięcia danych:</strong> Użytkownicy mają prawo żądania usunięcia swoich danych osobowych w każdym momencie, chyba że przetwarzanie jest wymagane na mocy obowiązującego prawa.</li>

    <li><strong>Zgodność z RODO:</strong> Gwarantujemy, że wszystkie procesy przetwarzania danych osobowych są zgodne z Ogólnym Rozporządzeniem o Ochronie Danych Osobowych (RODO).</li>
</ol>
</body>
<html>
